%h2 All Movies

= form_tag movies_path, :method => :get do
	Include: 
	- @all_ratings.each do |rating|
		= rating
		= check_box_tag "ratings[#{rating}]", 1, !@rating_filter[rating].nil?
	= submit_tag 'Refresh'

%table#movies
	%thead
		%tr
			%th{ :class => @sort_col == 'title' ? 'hilite' : nil, :id => 'title_header' }
				= link_to 'Movie Title', movies_path(:sort_col => 'title', :sort_dir => @sort_dir, :ratings => @rating_filter)
			%th Rating
			%th{ :class => @sort_col == 'release_date' ? 'hilite' : nil, :id => 'release_date_header' }
				= link_to 'Release Date', movies_path(:sort_col => 'release_date', :sort_dir => @sort_dir, :ratings => @rating_filter)
			%th More Info
	%tbody
		- @movies.each do |movie|
			%tr
				%td= movie.title
				%td= movie.rating
				%td= movie.release_date
				%td= link_to "More about #{movie.title}", movie_path(movie)
				
= link_to 'Add new movie', new_movie_path